name: Build and push images

on:
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        image:
          - base
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          use: true
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Prepare variables
        id: prepare
        uses: actions/github-script@v7
        with:
          script: |
            const image = '${{ matrix.image }}'

            // const tags = image === 'base' ? 'base,ubuntu' : image
            const tags = image === 'base' ? 'base-dev' : image

            core.setOutput('tags', tags)

      - name: Build & Push
        uses: devcontainers/ci@v0.3
        with:
          imageName: ghcr.io/aliuq/devcontainer
          imageTag: ${{ steps.prepare.outputs.tags }}
          platform: linux/amd64
          # platform: linux/amd64,linux/arm64
          subFolder: src/${{ matrix.image }}
          # cacheFrom: ghcr.io/aliuq/devcontainer:${{ matrix.image }}
          # push: never
          push: always

      - name: Post build
        run: |
          # /usr/bin/skopeo copy --all oci-archive:/tmp/output.tar:base docker://ghcr.io/aliuq/devcontainer:base
          # /usr/bin/skopeo copy --all oci-archive:/tmp/output.tar:ubuntu docker://ghcr.io/aliuq/devcontainer:ubuntu

          echo "(*) Pushing to Docker Hub (${{ steps.prepare.outputs.tags }}) ..."

          tags="${{ steps.prepare.outputs.tags }}"
          for tag in ${tags//,/ }; do
            echo " - Pushing tag: 'docker.io/aliuq/devcontainer:$tag'"
            /usr/bin/skopeo copy --all oci-archive:/tmp/output.tar:$tag docker://docker.io/aliuq/devcontainer:$tag
          done
