name: Build and push images

on:
  workflow_dispatch:

jobs:
  build-and-push-base-images:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image: ["ubuntu", "debian"]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Replace VARIANT in devcontainer.json
        run: |
          IMAGE=${{ matrix.image }}
          find src/base/.devcontainer/devcontainer.json -type f -exec sed -i "s/\${VARIANT}/${IMAGE}/g" {} \;

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          use: true

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and release devcontainer Multi-Platform
        uses: devcontainers/ci@v0.3
        with:
          imageName: ghcr.io/aliuq/devcontainer
          # platform: linux/amd64,linux/arm64
          platform: linux/amd64
          imageTag: ${{ matrix.image }}
          subFolder: src/base
          push: false
