name: Build and push images

on:
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        app:
          - base
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          use: true
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Prepare variables
        id: prepare
        uses: actions/github-script@v7
        with:
          script: |
            const app = '${{ matrix.app }}'

            const tags = app === 'base' ? 'base,ubuntu' : app

            core.setOutput('tags', tags)

      - name: Build & Push
        uses: devcontainers/ci@v0.3
        with:
          imageName: ghcr.io/aliuq/devcontainer
          imageTag: ${{ steps.prepare.outputs.tags }}
          # platform: linux/amd64
          platform: linux/amd64,linux/arm64
          subFolder: src/${{ matrix.app }}
          cacheFrom: ghcr.io/aliuq/devcontainer:${{ matrix.app }}
          # push: never
          push: always

      - name: Sync to another registry (docker.io)
        uses: actions/github-script@v7
        with:
          script: |
            const inputTags = '${{ steps.prepare.outputs.tags }}';

            const tags = inputTags?.split(',');

            for await (const tag of tags) {
              console.log(`\n(${tag}) Pushing to Docker Hub (docker.io/aliuq/devcontainer:${tag}) ...`);

              await exec.exec('/usr/bin/skopeo', [
                'copy',
                '--all',
                `oci-archive:/tmp/output.tar:${tag}`,
                `docker://docker.io/aliuq/devcontainer:${tag}`
              ]);
            }
